*{
    margin: 0;
    padding: 0;
}
html, body{
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto; 
}

/* ========== Header ========== */

header{
    box-shadow: 3px 3px 15px 5px rgba(0,0,0,0.2);
}
.header-content{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800 ;
    color: #a4c639;
    font-style: italic;
}
.nav-items{
    display: flex;
    list-style: none;
}
.navbar li a{
    margin: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}
.navbar li a:hover{
    color: #a4c639;
    border-bottom: 2px solid #a4c639;
}
.navbar li:first-child a{
    color: #a4c639;
    border-bottom: 2px solid #a4c639;
}
/* ========== End of Header ========== */

/* ========== Section1 ========== */
.slide-bar .img{
    height: calc(100vh - 70px);
    background-image: url("img/car1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: slider 30s infinite;
}
@keyframes slider {
    0% {
        background-image: url("img/car3.jpg");
    }
    25% {
        background-image: url("img/car4.png");
    }
    50% {
        background-image: url("img/car6.jpg");
    }
    75% {
        background-image: url("img/car8.jpg");
    }
}
/* ========== End of Section1 ========== */

/* ========== Section2 ========== */
.section2{
    background-color: #a4c639;
}
.section2 h1{
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 20px 0;
}
.section2 p{
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 20px 0;
}
/* ========== End of Section2 ========== */
/* ========== Section3 ========== */
.section3 .title-section{
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}
.section3-content{
    display: flex;
    justify-content: space-between;
}
.three-features{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #a4c639;
}
.three-features .features-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.three-features .features-content i{
   font-size: 50px;
}
.three-features .features-content h2{
   font-size: 20px;
   margin-top: 5px;
   text-align: center;
}
.three-features .features-content p{
    letter-spacing: 0.5px;
    text-align: justify;
}
.right{
    width: 60%;
    padding: 40px;
}
.right img{
    border-radius: 10px;
}
.right .right-content h2{
    font-size: 22px;
    color: #a4c639;
    font-style: italic;
    margin: 20px 0;
}
.right .right-content p{
    letter-spacing: 1px;
    text-align: justify;
}

/* ========== End of Section3 ========== */

/* ========== Section4 ========== */
.section4{
    background-image: url("img/about.jpg");
    background-size: cover;
}
.section4-content{
    display: flex;
}
.section4-content img{
    width: 95%;
    object-fit: cover;
    border-radius: 5px;
}
.section4-about,
.section4-clients{
    width: 30%;
    padding-right: 10px;
}
.section4-content h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.section4-content hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(
    to right,
    #a4c639,
    rgba(0, 0, 0, 075),
    #a4c639);
}
.section4-clients p{
    margin-top: 3px!important;
}
.section4-clients h4{
    margin-bottom: 0;
    margin-top: 20px;
    color: white;
}
.section4-content p{
    margin-top: 30px;
    color: white;
    letter-spacing: 1px;
}
/* ========== End of Section4 ========== */

/* ========== Section5 ========== */
.section5{
    background-color: #a4c639;
}
.section5 p{
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
/* ========== End of Section5 ========== */

/* ========== Footer ========== */
.footer{
    background-color:#232323e7 ;
}
.footer .footer-content{
    display:flex;
    justify-content: space-between;
}
.footer-content .col1,
.footer-content .col2,
.footer-content .col3{
    width: 30%;
}
.footer-content h2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.footer-content p {
    font-size: 17px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
.social-media div{
    background-color: white;
    padding: 10px 12px;
    margin: 10px;
    border-radius: 100%;
    font-size: 20px;
}
.social-media div:hover{
    background-color: #a4c639;
}
.footer .col2{
    display: flex;
    justify-content:center;
}
.footer .col2 li{
    list-style: none;
}
.footer .col2 li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
}
.footer .col2 li a:hover{
    color: #a4c639;
    border-bottom: 2px solid #a4c639;
}
.footer .contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea{
    outline: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #181818;
    border-color: #a4c6399f;
    color: white;
}

/* ========== End of Footer ========== */

/* ========== Main Footer ========== */

.main-footer {
    background-color: #343434;
    padding: 10px;
}
.main-footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-footer p{
    color: white;
    font-size: 20px;
}
.main-footer-content div:last-child{
    display: flex;
    align-items: center;
}

/* ========== End of Main Footer ========== */

.p-y-10px{
    padding: 10px 0;
}
.p-y-80px{
    padding: 80px 0;
}